/* Footer CSS: */

.footer-wrapper {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	padding: 3rem 0;
	background-color: black;
	a {
		color: white;
	}
}

.footer-border {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	width: 75%;
	padding: 2rem;
	border-top: 2px solid $dsared;
	border-bottom: 2px solid $dsared;
}

.footer__logo {
	position: relative;
	img {
	//	position: inline-block;
		height: 72px;
	}
}

.footer__link-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding: 0;
	list-style-type: none;
}

.footer-list__link {
	padding: 1rem 1.5rem;
	font-weight: bold;
	line-height: 2;
	white-space: nowrap;
	a {
		text-decoration: none;
		color: white;
		border-bottom: 1px solid white;
		transition: color .3s, border-bottom .3s;
		&:hover {
			color: $dsared;
			border-bottom: 1px solid $dsared;
		}
		&:focus {
			color: $dsared;
			border-bottom: 1px solid $dsared;
		}
	}
}

@media screen and (max-width: 768px) {
	.footer-wrapper {
		flex-flow: column nowrap;
	}
	.footer-border {
		flex-flow: column nowrap;
	}
}