/* Newsletter: */

.newsletter-wrapper {
//	background-color: $dsared;
	color: $dsared;
}

.newsletter-content {
	margin: 2rem 3rem 1rem 3rem;
	padding: 1rem calc(8.33% - 3rem);
	border-top: 8px solid $dsared;
//	border-right: 4px solid red;
	@media screen and (max-width: 600px) {
		padding: 1rem 4.167%;
	}
}

.newsletter__title {
	font-family: "Raleway", sans-serif;
	border-bottom: 1px solid $dsared;
	color: black;
}

.newsletter__text {
	color: gray;
}

.newsletter__form {
	color: $dsared; // black;

}

#mc_embed_signup {
	position: relative;
	form {
		position: relative;
		padding: 0 !important;
		#mc_embed_signup_scroll {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			white-space: nowrap;
			.indicates-required {

			}
			.mc-field-group {
				margin: 0 1rem;
				label {
					white-space: nowrap;
				}
				input {
					line-height: 2;
					background-color: white; // salmon;
					border: 2px solid black; //-width: 0px !important;
					box-shadow: 4px 4px 0 black;
				}
			}
			.clear { // subscribe button
				margin: 0;
				height: 52px;
				input {
					height: 52px;
					padding: 0 3rem;
					font-weight: 700;
					line-height: 2;
					background-color: $dsared;
					color: white; //$dsared;
					border: 2px solid $dsared;
					transition: box-shadow .3s;
					&:hover, &:focus {
						box-shadow: 4px 4px 0 black;
					}
				}
			}
			@media screen and (max-width: 1000px) {
				flex-flow: column nowrap;
				align-items: flex-start;
				.mc-field-group {
					margin-left: 0;
				}
			}
			@media screen and (min-width: 1000px) {
				.mc-field-group:first-of-type {
					margin-left: 0;
				}
			}
		}
	}
}

#mce-responses {
	width: 0 !important;
}

span.asterisk {
	color: $dsared !important;
}