/* Newsletter: */

.newsletter-wrapper {
	background-color: $dsared;
	border-top: 2px solid black;
	color: white;
}

.newsletter-content {
	padding: 1rem 8.33%;
	@media screen and (max-width: 600px) {
		padding: 1rem 4.167%;
	}
}

.newsletter__title {
	font-family: "Raleway", sans-serif;
	border-bottom: 1px solid white;
}

.newsletter__text {

}

.newsletter__form {
	color: white;

}

#mc_embed_signup {
	position: relative;
	form {
		position: relative;
		padding: 0 !important;
		#mc_embed_signup_scroll {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			white-space: nowrap;
			.indicates-required {

			}
			.mc-field-group {
				margin: 0 1rem;
				label {
					white-space: nowrap;
				}
				input {
					line-height: 2;
					background-color: white; // salmon;
					border-width: 0px !important;
					box-shadow: 4px 4px 0 black;
				}
			}
			.clear { // subscribe button
				margin: 0;
				height: 52px;
				input {
					height: 52px;
					padding: 0 3rem;
					font-weight: 700;
					background-color: white;
					color: $dsared;
					line-height: 2;
					transition: box-shadow .3s;
					&:hover, &:focus {
						box-shadow: 4px 4px 0 black;
					}
				}
			}
			@media screen and (max-width: 1000px) {
				flex-flow: column nowrap;
				align-items: flex-start;
				.mc-field-group {
					margin-left: 0;
				}
			}
			@media screen and (min-width: 1000px) {
				.mc-field-group:first-of-type {
					margin-left: 0;
				}
			}
		}
	}
}

#mce-responses {
	width: 0 !important;
}

span.asterisk {
	color: black !important;
}