/* Archive Styles: */

.archive-wrapper {
	max-width: 1000px;
	margin: 0 auto;
	padding: 3rem 8.33%;
	padding-top: 72px;
}

.archive-header {

}

.archive-header__title {
	font-family: "Raleway", sans-serif;
	font-weight: 900;
	font-size: 2.5rem;
	border-bottom: 2px solid $dsared;
}