/* Archive Styles: */

.archive-wrapper {
	max-width: 1000px;
	margin: 0 auto;
	padding: 3rem 8.33%;
	padding-top: 72px;

	@media screen and (max-width: 600) {
		padding: 3rem 4.167%;
		padding-top: 72px;
	}
}

.archive-header {}

.archive-header__title {
	font-family: var(--wp--preset--font-family--primary);
	font-weight: 900;
	font-size: 2.5rem;
	border-bottom: 2px solid $dsared;
}