// external
@import '_scss/_ext/header';
@import '_scss/_ext/underscore';


/* ************************** KATHERINE'S STYLES BELOW *************************/

body {
	margin: 0;
	font-family: var(--wp--preset--font-family--primary);

	p {
		line-height: 1.5;
	}
}

// vars
@import '_scss/_includes/colors';

// nav
@import '_scss/_includes/footer';
@import '_scss/_includes/menu';

// layouts
@import '_scss/_layouts/archive';
@import '_scss/_layouts/content';
@import '_scss/_layouts/page';
@import '_scss/_layouts/single';

// includes
@import '_scss/_includes/social-media';
@import '_scss/_includes/newsletter';

// pages
@import '_scss/_pages/404';
@import '_scss/_pages/about';
@import '_scss/_pages/blog';
@import '_scss/_pages/contact';
@import '_scss/_pages/homepage';
@import '_scss/_pages/join';
@import '_scss/_pages/projects';
@import '_scss/_pages/resources';
@import '_scss/_pages/search';