.search-wrapper {
	padding: 3rem 8.33%;
}

.search__title {}

.post-thumbnail {
	img {
		max-height: 30%;
		max-width: 30%;
	}

}

.entry__content {}

.entry__title {
	a {
		color: black;
		text-decoration: none;
		transition: border .3s;

		&:hover,
		&:focus {
			border-bottom: 2px solid black;
		}
	}
}

.entry-meta {
	padding-bottom: 2rem;

	a {
		color: black;
		text-decoration: none;
		border-bottom: 1px solid black;
		transition: border .3s;

		&:hover,
		&:focus {
			//	border-bottom: 2px solid black;
		}
	}
}

.nav-previous {
	padding-top: 1rem;

	a {
		color: black;
		text-decoration: none;
		border-bottom: 1px solid black;
		transition: border .3s, color .3s;

		&:hover,
		&:focus {
			border-bottom: 1px solid $dsared;
			color: $dsared;
		}
	}
}

.entry-footer {

	.cat-links,
	.tags-links {
		display: flex;
		flex-flow: row wrap;
		font-weight: 700;

		a {
			padding-left: 6px;
			font-weight: 400;
			color: black;
			text-decoration: none;
			transition: color .3s;

			&:hover,
			&:focus {
				color: $dsared;
			}
		}
	}
}