.four-wrapper {
	padding: 3rem 8.33%;
	padding-top: 72px;
}

.four-content {
	h1 {
		font-family: "Raleway", sans-serif;
		font-weight: 900;
		line-height: 1;
		padding-bottom: .25em;
		strong {
			font-weight: 900;
		}
	}

	h1 {
		font-size: 3rem;
	}

}

.four__title {

}

.four__text {

}

.four__search {
	.search-field {
		height: 34px;
		line-height: 34px;
	}
	.search-submit {
		font-family: "Montserrat", sans-serif;
		font-weight: 700;
		color: white;
		background-color: $dsared;
		transform: translate(0, 1px);
	}
}

.four__posts {
	ul {
		position: relative;
		padding-left: 1.75em;
		line-height: 1.5;
		list-style-type: none;
		li {
			position: relative;
			&:before {
				content: '';
				position: absolute;
				left: -22px;
				top: 8px;
				display: block;
				height: 6px;
				width: 6px;
				background-color: $dsared;
				border-radius: 50%;

			}
			a {
				text-decoration: none;
				color: black;
				border-bottom: 2px solid $dsared;
				transition: background-color .3s;
				&:hover, &:focus {
					background-color: $dsared;
				}
			}		
		}
	}
}

