/* About Page CSS: */

.about-wrapper {
//	max-width: 800px;
//	margin: 0 auto;
//	padding: 0 8.33%;
	padding-top: 90px;
	font-family: "Montserrat", sans-serif;
}

.about-title-wrapper {
	margin: 0 8.33%;
}

.about__title {
	position: relative;
	max-width: 800px;
	margin: 0 auto;
	padding: 0 8.33%;
	margin-bottom: .75em;
	padding: .25em 0;
	font-family: "Raleway", sans-serif;
	font-size: 3rem;
	&::before {
		content: '';
		position: absolute;
		top: calc(100% - 8px);
		left: 0;
		display: block;
		height: 6px;
		width: 100%;
		background-color: $dsared;
		background-image: linear-gradient(to bottom right, rgba(255,0,0,.1), rgba(255,0,0,.3)), url('http://dsarichmond.local/wp-content/uploads/2021/09/red-splatter.jpg');
		background-size: cover;
		background-position: bottom left;
	}
	@media screen and (max-width: 800px) {
		font-size: 2.5rem;
	}
}

.about__text {
	max-width: calc(800px + 16.67vw);
	margin: 0 auto;
	margin-bottom: 3rem;
	padding: 0 8.33%;
}