.blog-wrapper {
	max-width: calc(900px + 16.67vw);
	margin: 0 auto;
	padding: 0 8.33%;

	@media screen and (max-width: 600px) {
		padding: 0 4.167%;
	}
}

.blog-title-wrapper {
	padding-top: 72px;
}

.blog__title {
	position: relative;
	max-width: 900px;
	margin: 0 auto;
	padding: 0 8.33%;
	margin-bottom: .75em;
	padding: .25em 0;
	font-family: var(--wp--preset--font-family--primary);
	font-size: 3rem;

	&::before {
		content: '';
		position: absolute;
		top: calc(100% - 8px);
		left: 0;
		display: block;
		height: 6px;
		width: 100%;
		background-color: $dsared;
		background-image: linear-gradient(to bottom right, rgba(255, 0, 0, .1), rgba(255, 0, 0, .3)), url('http://dsarichmond.org/wp-content/uploads/2021/10/red-splatter.jpg');
		background-size: cover;
		background-position: bottom left;
	}

	@media screen and (max-width: 800px) {
		font-size: 2.5rem;
	}
}

.blog-list-wrapper {}

.blog__entry {
	margin: 2rem 0;
	padding: 1.5rem;
	border: 2px solid black;
	background-color: white;
}

.blog-entry__title-wrapper {}

.blog-entry__category {
	display: inline-block;
	padding: 1px 4px;
	font-weight: bold;
	color: white; // $dsared;
	background-color: $dsared;
	border: 1px solid red;
	text-transform: uppercase;

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;

		li {
			display: inline-block;
			font-weight: bold;
			color: white;
			background-color: $dsared;
			border: 1px solid red;
			text-transform: uppercase;

			a {
				display: inline-block;
				font-weight: bold;
				color: white;
				background-color: $dsared;
				text-transform: uppercase;
				text-decoration: none;
			}
		}
	}
}

.blog-entry__title {
	font-family: var(--wp--preset--font-family--primary);
	font-weight: 900;
	font-size: 2.25rem;
	margin: .25em 0;
	margin-top: .125em;

	a {
		text-decoration: none;
		color: black;
		transition: color .3s, border-bottom .3s;

		&:hover,
		&:focus {
			color: red;
			border-bottom: 2px solid red;
		}
	}

	@media screen and (max-width: 600px) {
		font-size: 1.75rem;
	}
}

.blog-entry__metadata {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	font-family: "Inconsolata", monospace;
	color: $dsared;

	a {
		color: red;
		text-decoration: none;
		transition: border-bottom .3s;

		&:hover,
		&:focus {
			border-bottom: 1px solid red;
		}
	}
}

.blog-entry__author {}

.blog-entry__slashes {
	padding: 0 .5rem;
	//	color: black;
}

.blog-entry__date {}

.blog-entry__preview-wrapper {
	p {}

	@media screen and (max-width: 600px) {
		display: none;
	}
}

.blog-entry__cta {
	display: inline-block;
	font-size: 1rem;
	font-family: var(--wp--preset--font-family--primary);
	font-weight: bold;
	background-color: $dsared;
	border-radius: 5px;
	transition: background-color .3s;

	&:hover,
	&:focus {
		background-color: black;
	}

	a {
		display: inline-block;
		padding: .5rem;
		color: white;
		text-decoration: none;
	}

	@media screen and (max-width: 600px) {
		margin-top: 1em;
		display: none;
	}
}

.blog-cta__link {}