/* Homepage CSS: */

/*** Landing Page: ***/

.homepage-wrapper {
	position: relative;
}

// Landing:

.homepage__landing {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	background: black;

}

.home-landing__text-wrapper {
	display: grid;
	grid-template-areas: 'backdrop roses'
		'line line'
		'subtitle subtitle';
	//display: flex;
	//flex-flow: column nowrap;
	width: 83.33%;
	margin: 0 auto;

	@media screen and (max-width: 900px) {
		grid-template-areas: 'backdrop'
			'line'
			'subtitle'
			'roses';
	}
}

.backdrop {
	grid-area: backdrop;
}

.home-landing__title {
	display: inline-block;
	margin: 0;
	padding: .5em 0;
	//	font-family: "Raleway", sans-serif;
	font-size: 72px;
	font-weight: 900;
	text-transform: uppercase;
	line-height: 1;
	color: white;

	@media screen and (max-width: 900px) {
		font-size: 48px;
	}
}

.text {
	position: relative;
	color: white;
	background: black;
	mix-blend-mode: lighten;
}

.text::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: red;
	background-image: linear-gradient(to bottom right, rgba(255, 0, 0, .1), rgba(255, 0, 0, .3)), url('http://dsarichmond.org/wp-content/uploads/2021/10/red-splatter.jpg');
	background-position: center;
	background-size: cover;
	mix-blend-mode: multiply;
}

.home-landing__rose {
	grid-area: roses;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	transform: translate(0, calc(-72px * .5));

	img {
		height: 100px;
		padding: 0 .5rem;

		&:nth-of-type(2) {
			transform: translate(0, -30px);
		}
	}

	@media screen and (max-width: 900px) {
		transform: translate(0, 0);
		justify-content: center;

		//	display: none;
		img {
			height: 75px;
			padding-top: 2rem;
		}
	}
}

.home-landing__line {
	grid-area: line;
	width: 100%;
	height: 2px;
	background-color: white;
}

.home-landing__subtitle {
	grid-area: subtitle;
	font-family: var(--wp--preset--font-family--primary);
	font-weight: 100;
	font-size: 2.5rem;
	font-style: italic;
	//	text-transform: uppercase;
	color: white;

	@media screen and (max-width: 900px) {
		font-size: 1.75rem;
	}
}

/*** About Section: ***/

/* About: */

.homepage__about {
	padding-top: 3rem;
}

.homepage-about__text-wrapper {
	position: relative;
	display: grid;
	//width: calc(100%;
	padding: 0 8.33%;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas: "t t t i i"
		"t t t . .";

	@media screen and (max-width: 900px) {
		grid-template-columns: 1fr;
		grid-template-areas: 't'
			'i';
	}
}

.homepage-about__title {
	position: relative;
	margin: 0;
	margin-bottom: .75em;
	padding: .25em 0;
	font-family: var(--wp--preset--font-family--primary);
	font-size: 2.5rem;

	&::before {
		content: '';
		position: absolute;
		top: calc(100% - 8px);
		left: 0;
		display: block;
		height: 6px;
		width: 100%;
		background-color: $dsared;
		background-image: linear-gradient(to bottom right, rgba(255, 0, 0, .1), rgba(255, 0, 0, .3)), url('http://dsarichmond.local/wp-content/uploads/2021/09/red-splatter.jpg');
		background-size: cover;
		background-position: bottom left;
	}
}

.homepage-about__text {
	position: relative;
	grid-area: t;
}

.homepage-about__involved {
	position: relative;
	grid-area: i;
	margin-left: 4.167vw;
	padding: 1em;
	background-color: white;
	border: 2px solid black;
	box-shadow: 4px 4px 0 black;
	margin-top: 3.5rem;

	@media screen and (max-width: 900px) {
		margin-left: 0;
		margin-bottom: 3rem;
		margin-top: 3rem;
	}
}

.homepage-involved__title {
	margin: 0;
	padding: .25em 0;
	padding-top: 0;
	font-family: var(--wp--preset--font-family--primary);
	font-size: 2.5rem;
}

.homepage-involved__text {
	margin-top: .5rem;
}

.homepage-involved__list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.homepage-involved__list-item {
	position: relative;
	margin: .5em;
	font-family: var(--wp--preset--font-family--primary);
	font-size: 1.5rem;
	font-weight: 700;

	a {
		text-decoration: none;
		color: $dsared;
		transition: color .3s;

		&:hover,
		&:active {
			color: black;
		}
	}
}

.homepage-involved__logo {
	height: 0px;
	display: block;
	float: right;
}

/*** Resources: ***/

/* Resources */

.homepage__resources {
	position: relative;
	padding: 0 8.33%;
	padding-bottom: 3rem;
}

.homepage-resources__title {
	position: relative;
	margin: 0;
	margin-bottom: .75em;
	padding: .25em 0;
	font-family: var(--wp--preset--font-family--primary);
	font-size: 2.5rem;

	&::before {
		content: '';
		position: absolute;
		top: calc(100% - 8px);
		left: 0;
		display: block;
		height: 6px;
		width: 100%;
		background-color: $dsared;
		background-image: linear-gradient(to bottom right, rgba(255, 0, 0, .1), rgba(255, 0, 0, .3)), url('http://dsarichmond.local/wp-content/uploads/2021/09/red-splatter.jpg');
		background-size: cover;
		background-position: bottom left;
	}
}

.homepage-resources__item-list {
	/* position: relative;
	display: flex;
	flex-flow: row wrap; */
	column-count: auto;
	column-width: 350px;
	margin: 0 auto;
	padding-left: 0;
	list-style-type: none;

	@media screen and (max-width: 1000px) {
		column-width: 100%;
	}
}

.homepage-resources__item {
	-webkit-column-break-inside: avoid;
	break-inside: avoid;
	page-break-inside: avoid;
	//	max-width: calc(50vw - 8.33vw - 4rem);
	//	min-width: calc(312px);
	padding: 1rem;
	margin: .5rem;
	margin-left: 0;
	margin-bottom: 1.5rem;
	margin-right: 1rem;
	border: 2px solid black;
	box-shadow: 4px 4px 0 black;
	background-color: white;

	&:first-of-type {
		margin-top: 0;
	}

	a {
		text-decoration: none;
		font-weight: 700;
	}

	p {}
}

// title
.homepage-resources__link--1 {
	a {
		font-family: var(--wp--preset--font-family--primary);
		font-size: 1.5rem;
		color: $dsared;
		transition: border .3s;

		&:hover,
		&:focus {
			border-bottom: 4px solid $dsared;
		}
	}
}

// call to action
.homepage-resources__link--2 {
	display: inline-block;
	background-color: $dsared;
	border-radius: 5px;
	transition: background-color .3s;

	&:hover,
	&:focus {
		background-color: black;
	}

	a {
		display: inline-block;
		padding: .5rem;
		color: white;
	}
}