/* Get Involved CSS: */

.join-wrapper {
	position: relative;
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-template-areas: 'text form';
	margin: 0 8.33%;
	padding-top: 72px;
	padding-bottom: 3rem;
}

.join-text-wrapper {
	grid-area: text;
}

.join-title-wrapper {
	position: relative;
}

.join__title {
	position: relative;
	margin-right: 8.33%;
	margin-bottom: .75em;
	padding: .25em 0;
	font-family: "Raleway", sans-serif;
	font-size: 3rem;
	&::before {
		content: '';
		position: absolute;
		top: calc(100% - 8px);
		left: 0;
		display: block;
		height: 6px;
		width: 100%;
		background-color: $dsared;
		background-image: linear-gradient(to bottom right, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0.3)), url("http://dsarichmond.local/wp-content/uploads/2021/09/red-splatter.jpg");
		background-size: cover;
		background-position: bottom left;
	}
}

.join__text {
	padding-right: 2rem;
}

.join__form {
	grid-area: form;
	width: 100%;
	max-width: 800px;
	margin: 2em auto;
	div[role="form"] {
		position: relative;
		padding-top: 1rem;
		p {
			margin: .75rem;
			input {
				width: 100%;
				padding-left: 8px;
				border: 2px solid $dsared;
				line-height: 3;
				border-radius: 10px;
				outline-width: 0px;
			}
		}
	}
	p {
		input[type="submit"] {
			font-weight: 700;
			background-color: $dsared;
			color: white;
			border: 0px solid black !important;
			cursor: pointer;
			transition: background-color .3s, border .3s;
		}
	}
}

textarea[name="your-message"] {
	padding-left: 8px;
	line-height: 1.5;
	border: 2px solid $dsared;
	border-radius: 10px;
	outline-width: 0px;
}

p {
	input[type="submit"] {
		&:hover, &:focus {
			border: 2px solid black !important;
			box-shadow: 2px 2px 4px rgb(0,0,0,.7);
		}
	}
}

@media screen and (max-width: 1000px) {
	.join-wrapper {
		grid-template-columns: 1fr;
		grid-template-areas: 'text''form';
	}
}

@media screen and (max-width: 800px) {
	.join__title {
		font-size: 2.5rem;
	}
}
